.card{

transition: transform 0.2s;

&:hover{
transform: translateY(20px)
}

}


.burger-icon{

animation: itrotates 2s infinite;

      @keyframes itrotates {
        0% {
          transform: rotate(0deg);
        border-radius: 0;
        }
        100% {
          transform: rotate(360deg);
        border-radius: 50%;
        }
      }

}